<div class="top">
    <div class="budget">
      <div class="budget__title">
        Available Budget in <span class="budget__title--month">%Month%</span>:
      </div>
      <div class="budget__value">+ 0.00</div>
      <div class="budget__income clearfix">
        <div class="budget__income--text">Income</div>
        <div class="right">
          <div class="budget__income--value">+ 0.00</div>
          <div class="budget__income--percentage">&nbsp;</div>
        </div>
      </div>
      <div class="budget__expenses clearfix">
        <div class="budget__expenses--text">Expenses</div>
        <div class="right clearfix">
          <div class="budget__expenses--value">- 0.00</div>
          <div class="budget__expenses--percentage">0%</div>
        </div>
      </div>
    </div>
  </div>

  {{input type="text" value="thing" class="add__description" placeholder="Add description"}}
  <div class="bottom">
    <div class="add">
      <div class="add__container">
        <select class="add__type">
                        <option value="income" selected>+</option>
                        <option value="expense">-</option>
                    </select>

        {{input type="text" value="amount" class="add__value" placeholder="Value"}}
        <button class="add__btn"><i class="ion-ios-checkmark-outline" {{action 'saveStuff'}}></i></button>
      </div>
    </div>
    <div class="container clearfix">
      <div class="income">
        <h2 class="icome__title">Income</h2>
        <div class="income__list">
        </div>
      </div>
      <div class="expenses">
        <h2 class="expenses__title">Expenses</h2>
        <div class="expenses__list">
        </div>
      </div>
    </div>
  </div>
