{{#if  session.isAuthenticated}}
<button {{action 'showIncomeChart'}} {{action 'showExpenseChart'}}{{action 'showBalanceLine'}}>Show Charts</button>

<div class="container">
  <div id="pi-income-container" class="fixed"></div>
  <div id="pi-expense-container" class="flex-item"></div>
</div>
<div id="balance-container"></div>
{{/if}}
